body{
  background-color: black; 
  background-image: url("bg4.jpg");
  background-repeat: no-repeat;
  background-attachment: fixed;
  background-position: center; 
  background-size: cover; 
}



.colbg{
	background-color: darkgreen;
	padding: 5px;
	margin: 3px;
	border-radius: 3px;
}

.btn{
  margin: 5px;
  margin-top: 5px;
  margin-bottom: 20px;

}







#playField {
}

#playField .corner {border: none; height: auto; width: auto;}

#playField .columnClue {text-align: center; margin: 0px; padding-bottom: 0px; }

#playField .rowClue {float: right; margin-right: 3px; width: auto; height: 30px; display: inline; vertical-align: middle;}



#playField tr td {
  width: 30px;
  height: 30px;
  border: 1px black solid;
}



.fieldData0 {
  background-color: white;
}

.fieldData1 {
  background-color: black;
}



.flx{
  display: flex;
  justify-content: center;
  text-align: center;
  margin: 20px;
}
