body{
  background-color: black; 
  background-image: url("bg4.jpg");
  background-repeat: no-repeat;
  background-attachment: fixed;
  background-position: center; 
  background-size: 100% 100%; 

}



.colbg{
	background-color: darkgreen;
	padding: 5px;
	margin: 3px;
	border-radius: 3px;
}